.home__container {
  row-gap: 7rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.3rem;
}

.contact-btn {
  background-color: var(--primary-color);
  color: white;
}

.contact-btn:hover {
  background-color: var(--primary-color-hover);
}

.home__subtitle {
  position: relative;
  max-width: 300px;
}

.home__img {
  background: url(../../assets/profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  order: 1;
  justify-self: center;
  animation: profile__animate 7s ease-in-out infinite 0s;
  box-shadow: inset 0 0 0 4px rgb(255 255 255 / 15%);
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__scroll {
  margin-left: 9.2rem;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 80px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__subtitle {
    max-width: initial;
  }

  .home__img {
    width: 250px;
    height: 250px;
  }

  .home__scroll {
    margin-left: 7.5rem;
  }
}

@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: center;
  }
  
  .button-wrapper {
    justify-content: center;
  }

  .home__img {
    box-shadow: inset 0 0 0 4px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;
    order: initial;
    justify-self: initial;
  }

  .home__data {
    grid-column: 1/3;
  }

  .home__scroll {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }
}
