.portfolio__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.portfoliopage__wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.portfolio__container {
  width: 100% !important;
  text-align: center;
}

/* .portfolio__img {
      width: 600px;
      height: 600px;
      object-fit: cover;
    } */

.portfolio__name {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.portfolio__title {
  font-size: var(--h4-font-size);
}

/* @media screen and (max-width: 992px) {
      .portfalio__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .portfoliopage__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .portfolio__container {
        display: flex;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
      }
    } */

.project-details-button button {
  border: 1px solid var(--text-color);
}

.project-details-button button:hover {
  background-color: var(--text-color);
  color: var(--title-color-reverse);
}

.porfoliopage .swiper-horizontal > .swiper-pagination-bullets {
  display: inline-block;
  margin-top: 10px;
}

.porfoliopage .swiper-horizontal > .swiper-pagination-bullets {
  text-align: center;
  font-size: 0;
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
}

.porfoliopage
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: transparent;
  transition: ease all 0.55s;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  margin: 0 8px;
}

.porfoliopage
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.porfoliopage
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
}
