.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.qualification__button {
  font-size: 1.25rem;
  font-weight: 500;
  color: #666;
  opacity: 0.5;
  margin: 0 1rem;
  cursor: pointer;
}

.qualification__button:hover {
  color: #915eff;
}

.qualification__icon {
  font-size: 1.6rem;
  margin-right: 0.25rem;
}

.qualification__active {
  opacity: 1;
}

.qualification__sections {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.qualification__content {
  display: none;
}

.qualification__content-active {
  display: block;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: 1rem;
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.qualification__calendar {
  font-size: 0.875rem;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: hsl(0, 0%, 46%);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: hsl(0, 0%, 46%);
  transform: translate(6px, -7px);
}

.vertical-timeline-element-content {
  background-color: var(--bg-color) !important;
  color: var(--title-color) !important;
  border-radius: 20px !important;
}

.vertical-timeline-element-content-arrow {
  border-right: 8px solid var(--title-color) !important;
}

.exp-edu-card-title {
  color: var(--text-color);
}

.exp-edu-card-desc {
  color: var(--text-color);
}

.exp-edu-card-bottom {
  color: var(--text-color);
}

@media screen and (max-width: 992px) {
  .qualification__container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  .qualification__sections {
    grid-template-columns: initial;
  }

  .qualification__button {
    margin: 0 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}

.resume__list-item {
  font-weight: 700;
  position: relative;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

.resume__list-item::before {
  content: "";
  width: 0;
  height: 2px;
  max-width: 60%;
  background-color: #915eff;
  position: absolute;
  bottom: -12px;
  left: 5px;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.3, 1);
}

.active-resume {
  color: #915eff;
}

.active-resume::before,
.resume__list-item:hover::before {
  width: 40px;
}

.resume__list-item:hover::before {
  width: 40px;
}
