.achievements .swiper-horizontal > .swiper-pagination-bullets {
  width: auto;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.achievements .swiper-horizontal > .swiper-pagination-bullets {
  text-align: center;
  font-size: 0;
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
}

.achievements
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: transparent;
  transition: ease all 0.55s;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  margin: 0 8px;
}

.achievements
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.achievements
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
}
