.header {
  width: 100%;
  z-index: 100;
}

.scroll-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  animation: header_animate 0.8s var(--transition) 0s forwards;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}

.nav__home {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 700;
  transition: all 0.6s var(--transition);
}

.nav__home:hover {
  text-decoration: underline;
}

@keyframes header_animate {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  font-size: var(--h4-font-size);
  font-weight: 700;
  cursor: pointer;
  color: var(--text-color);
}
.color {
  color: #000 !important;
}
.colorBg span {
  background-color: #000 !important;
}
.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  background-color: var(--bg-color-alt);
  overflow: hidden;
  z-index: 10;
  transition: all 0.7s var(--transition);
}

.show-menu {
  width: 412px;
}

.nav__data {
  padding: 80px 84px 0 154px;
  margin: auto;
  width: 100%;
}

.nav__list {
  margin-bottom: 40px;
}

.nav__list li {
  margin-bottom: 20px;
}

.nav__link {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}

.active,
.nav__link:hover {
  color: var(--primary-color);
}

.header__socials {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.header__social-link {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.7s var(--transition);
}

.header__social-link:hover {
  color: var(--primary-color);
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.theme__toggle {
  font-size: var(--h4-font-size);
  display: flex;
  align-items: center;
}

.nav__toggle {
  height: 30px;
  width: 28px;
  position: relative;
  z-index: 100;
}

.theme__toggle,
.nav__toggle {
  cursor: pointer;
}

.nav__toggle span {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--title-color);
  height: 2px;
  transition: all 0.3s var(--transition);
}

.nav__toggle span:first-child {
  top: 8px;
}

.nav__toggle span:last-child {
  bottom: 8px;
}

.animate-toggle span:first-child {
  transform: rotate(-45deg);
  top: 14px;
}

.animate-toggle span:last-child {
  transform: rotate(45deg);
  bottom: 14px;
}

.header__deco {
  left: 75px;
}

.header__deco .shape {
  top: -200px;
  left: -168px;
  z-index: -1;
}
