/* FOOTER */
.footer {
  border-top: 1px solid #915eff4b;
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 60px;
}

.footer__socials {
  display: flex;
  column-gap: 20px;
}

.footer__social-link {
  color: #ffffff;
  font-size: 22px;
  transition: all 0.7s;
}

.footer__social-link:hover {
  color: #915eff;
}

.footer__copy:nth-child(2) {
  justify-self: center;
}

.footer__copy:nth-child(3) {
  justify-self: flex-end;
}

.footer__copy {
  font-size: 14px;
  font-weight: 700;
}

.footer__container span {
  color: #915eff;
}

@media screen and (max-width: 992px) {
  .footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
  }

  .footer__copy:nth-child(2),
  .footer__copy:last-child {
    justify-self: center;
  }
}

@media screen and (max-width: 1200px) {
  .footer__copy:nth-child(2) {
    justify-self: start;
  }
}

@media screen and (max-width: 992px) {
  .footer__copy:nth-child(2),
  .footer__copy:last-child {
    justify-self: center;
  }
}
