@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #915eff;
  --primary-color-hover: rgb(127, 69, 252);
  --title-color: hsl(0, 0%, 100%);
  --title-color-reverse: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 92%);
  --bg-color: hsl(218, 26%, 12%);
  --bg-color-alt: hsl(218, 22%, 15%);
  --container-color: hsl(217, 26%, 13%);
  --border-color: hsl(210, 2%, 45%);
  --contact-color: hsl(218, 26%, 13%);
  --first-gradient: linear-gradient(
    0deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );
  --second-gradient: linear-gradient(
    180deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );
  --third-gradient: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg-color) 100%
  );

  --body-font: "Golos Text", sans-serif;
  --second-font: "Caveat", cursive;

  --biggest-font-size: clamp(2.25rem, 0.8603rem + 6.3529vw, 5.625rem);
  --h1-font-size: clamp(1.75rem, 1.3382rem + 1.8824vw, 2.75rem);
  --h2-font-size: 30px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --larges-font-size: 21px;
  --larger-font-size: 20px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 13px;

  --shadow: 3px 3px rgb(255 255 255 / 10%);

  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

/*LIGHT THEME*/
.light-theme {
  --title-color: #000;
  --title-color-reverse: hsl(0, 0%, 100%);
  --text-color: #262626;
  --bg-color: #f8f5f4;
  --bg-color-alt: #ebebeb;
  --container-color: #f8f5f4;
  --contact-color: #e7e7e7;
  --border-color: #000;
  --box-shadow: 7px 7px 14px #f0f0f0, -7px -7px 14px #ffffff;
  --shadow: 3px 3px rgb(0 0 0 / 20%);
}

.container2 {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .container2 {
    max-width: 1000px;
  }
}

@media screen and (max-width: 880px) {
  .container2 {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container2 {
    max-width: 700px;
  }
}

@media screen and (max-width: 600px) {
  .container2 {
    max-width: 550px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 12px !important;
}

.grid {
  display: grid;
  gap: 24px;
}

.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn,
.hero__link {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
}

.btn {
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: var(--shadow);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--primary-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.6s var(--transition);
  z-index: -1;
}

.btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

.dark-theme .shape {
  filter: invert(1);
  opacity: 0.6;
}

.shape {
  position: absolute;
}

.section {
  padding-bottom: 200px;
  position: relative;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  color: var(--primary-color);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 60px;
}

.section__subtitle span {
  font-family: var(--second-font);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  margin-left: 10px;
  text-transform: capitalize;
}

.card {
  background-color: var(--container-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.card-one {
  padding: 30px 35px;
  border-radius: 18px;
}

.card-two {
  padding: 30px;
  border-radius: 20px;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 700;
  margin-top: 30px;
}

.link__icon {
  color: var(--primary-color);
  margin-left: 8px;
  transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
  margin-left: 13px;
}

.button__icon {
  color: "#fff";
  margin-left: 15px;
  font-size: 20px;
}

.section__deco {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background-color: var(--border-color);
  z-index: 1;
}

.deco__right {
  right: 3%;
}

.deco__left {
  left: 3%;
}

.section__deco::before,
.section__deco::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
}

.section__deco::before {
  top: 0;
  transform: translate(-50%, -100%);
}

.section__deco::after {
  bottom: 0;
  transform: translate(-50%, 100%);
}

.section__deco .shape {
  max-width: 226px;
  height: 226px;
  bottom: -200px;
}

.deco__left .shape {
  left: -170px;
}

.deco__right .shape {
  right: -170px;
}

.breadcrumb-icon {
  color: var(--title-color);
  opacity: 0.75;
  transition: all 0.2s;
}

.breadcrumb-icon:hover {
  opacity: 1;
  scale: 1.1;
}

.portfolio-details-button:hover {
  color: var(--title-color-reverse);
  background-color: var(--title-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 450px) {
  .section__deco {
    top: 45%;
  }
}

.second-font {
  font-family: var(--second-font);
  color: rgb(128 90 213);
}

.section-title {
  color: var(--text-color) !important;
}

blockquote {
  background: transparent;
  border-left: 8px solid var(--primary-color);
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.portable-text-button button {
  border: 1px solid var(--text-color);
}

.portable-text-button button:hover {
  background-color: var(--text-color);
  color: var(--title-color-reverse);
}

@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: 24px;
    --h3-font-size: 23px;
    --h4-font-size: 21px;
    --h5-font-size: 20px;
    --larges-font-size: 19px;
    --larger-font-size: 18px;
    --large-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
    --tiny-font-size: 12px;
  }

  .container {
    max-width: 740px;
    margin: 0 auto;
  }
  .solo__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .solopage__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .solo__img {
    width: 500px;
    height: 500px;
  }

  .home__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .hero__link::before {
    left: 50%;
    top: -72;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
  }

  .portfolio__img {
    height: 200px;
  }

  .resume__container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .resume__icon {
    width: 40px;
    height: 40px;
  }

  .contact__form-group {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .contact__card-icon {
    font-size: var(--large-font-size);
    width: 42px;
    height: 42px;
  }

  .contact__card-icon::after {
    width: 32px;
  }

  .contact__card {
    padding-left: 100px;
  }
  .software__img {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 12px;
  }
  .home__profile {
    height: 550px;
  }
  .footer__copy:nth-child(2),
  .footer__copy:last-child {
    justify-self: center;
  }
  .all-portfolio {
    display: flex;
    width: 28%;
  }
}
